@font-face {
	font-family: 'Helvetica', sans-serif;
	src: url(../fonts/helvetica.woff2);
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Helvetica-Bold', sans-serif;
	src: url(../fonts/helvetica-bold.woff2);
	font-style: normal;
	font-weight: 700;
}
html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}
button {
	color: inherit;
	font-size: inherit;
	background-color: transparent;
	cursor: pointer;
	border: none;
	font-family: inherit;
}

.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}
.section-title {
	text-transform: uppercase;
	font-weight: 400;
}
body {
	font-family: 'Helvetica', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
	color: #5c5c5e;
}
.header {
	border-bottom: 1px solid #cacad6;
}
.nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	height: 80px;
}
.menu-btn {
	width: 40px;
	height: 30px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	/* position: absolute; */
}
.menu-btn span {
	height: 2px;
	background-color: #000;
	width: 100%;
}

.menu {
	display: flex;
	gap: 0 20px;
}
.logo {
	justify-self: center;
	display: flex;
}
.basket {
	position: relative;
	justify-self: end;
}
.basket-on span {
	font-size: 11px;
	width: 15px;
	height: 15px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	display: flex;
	color: #fff;
	align-items: center;
	justify-content: center;
	bottom: -3px;
	right: -2px;
}
.top {
	min-height: calc(100vh - 81px);
	background-image: url(../images/topImage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.title {
	padding-top: 16%;
	font-size: 96px;
	margin-bottom: 10px;
	font-weight: 400;
}
.subtitle {
	font-size: 36px;
	margin-bottom: 5px;
}
.top-text {
	font-size: 13px;
	margin-bottom: 50px;
}
.text-under-button {
	font-size: 13px;
	padding-top: 10px;
}
.buy-btn {
	cursor: pointer;
	border: none;
	background: var(
		--gradient,
		linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
	);
	display: flex;
	padding: 0;
	text-transform: uppercase;
	padding: 1px;
}
.buy-btn-now {
	color: #f6f4f5;
	padding: 20px 110px;
	text-transform: uppercase;
}
.buy-btn-price {
	background-color: #f6f4f5;
	padding: 20px 105px;
}
.features {
	padding: 100px 0;
}
.features-titles {
	display: flex;
}
.features-title {
	flex-basis: 300px;
	padding-right: 20px;
}
.section-title {
	text-transform: uppercase;
	font-weight: 400;
}
.features-text {
	text-transform: uppercase;
	max-width: 330px;
	font-size: 36px;
	margin-bottom: 2px;
	background: var(
		--gradient,
		linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.tabs {
	display: grid;
	grid-template-columns: 300px auto;
}
.tabs-btns {
	display: flex;
	flex-direction: column;
	align-items: start;
}
.tabs-btn-item {
	font-weight: 700;
	margin-bottom: 20px;
}
.tabs-btn-item-active {
	color: #070707;
}
.tabs-content-item {
	display: grid;
	grid-template-columns: auto 280px;
	grid-template-rows: auto 150px;
	gap: 40px;
	opacity: 0;
	position: absolute;
	transition: opacity 0.3s ease;
}
.tabs-content-box h3 {
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 5px;
}
.tabs-content-img {
	grid-row: 1/-1;
	align-self: stretch;
	object-fit: cover;
}
.video {
	grid-column: 2/3;
	width: 280px;
	height: 150px;
	background-image: url(../images/content-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: flex-start;
	padding: 9px 10px;
}
.video-btn {
	padding: 0;
	margin-left: 22px;
}
.video span {
	color: #f6f4f5;
	font-size: 13px;
	margin-top: 9px;
}
.tabs-content-item-active {
	opacity: 1;
}
.tabs-content {
	position: relative;
	min-height: 150px;
}

.games {
	margin-top: 100px;
}
.game-title {
	margin-bottom: 50px;
}
.games-inner {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.game-description {
	padding-right: 10px;
}
.game-description-title {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 400;
	background: var(
		--gradient,
		linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 10px;
}
.game-description-text {
	margin-bottom: 30px;
}
.see-all-games {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	background: var(
		--gradient,
		linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	padding: 16px 46px 16px 46px;
	width: 225px;
	height: 50px;
	border: 1px solid;
	border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
		1;
}
.game-item {
	padding: 20 20 22 20;
	border: 1px solid;
	border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
		1;
	display: flex;
	flex-direction: column;
}
.game-item-img {
	margin-bottom: 10px;
}
.game-item-title {
	margin-bottom: 10px;
	color: var(--Black, #070707);
	font-size: 24px;
	font-weight: 400;
}
.game-item-text {
	margin-bottom: 40px;
}
.see-more {
	margin-top: auto;
	font-size: 16px;
	background: var(
		--gradient,
		linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.buy {
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 110px;
	position: relative;
	overflow-x: hidden;
}
.buy-bg {
	opacity: 0.1;
	background: var(
		--gradient,
		linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	font-family: 'Inter', sans-serif;
	font-size: 400px;
	font-weight: 700;
	line-height: 390px;

	position: absolute;
	z-index: -1;
	animation: line-text 8s linear 1s infinite;
}
.buy-img {
	margin-bottom: 30px;
}

@keyframes line-text {
	from {
		transform: translateX(105%);
		transform-origin: left center;
	}
	to {
		transform: translateX(-105%);
		transform-origin: right center;
	}
}
.in-the-box-equipment {
	margin-bottom: 100px;
}
.equipment-title {
	margin-bottom: 50px;
	font-size: 16px;
	font-weight: 400;
	color: var(--grey, #5c5c5e);
}
.equipment-title-text {
	font-size: 36px;
	font-weight: 400;
	background: var(
		--gradient,
		linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	line-height: normal;
}
.equipment-box-img {
	margin-bottom: 10px;
	/* max-width: none; */
}
.equipment-box {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 28px 20px;
}
.box-item-first {
	grid-row: 1/-1;
}
.promo {
	margin-bottom: 100px;
	max-width: 100%;
}
.promo-inner {
	min-height: 500px;
	background-image: url(../images/promo-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	position: relative;
}
.go-promo-btn {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
	border-radius: 50%;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 80;
	right: 0;
	left: 0;
	margin: 0 auto;
}
.accessories {
	margin-bottom: 100px;
}
.accessories-text {
	font-size: 36px;
	font-weight: 400;
	background: var(
		--gradient,
		linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.accessories-title {
	font-size: 16px;
	font-weight: 400;
	color: var(--grey, #5c5c5e);
	margin-bottom: 30px;
	text-transform: uppercase;
}
.accessories-block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.accessories-item {
	border: 1px solid;
	border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
		1;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.accessories-item-img {
	margin-bottom: 10px;
}
.accessories-item-title {
	min-height: 67px;
	color: var(--Black, #070707);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 10px;
}
.accessories-item-text {
	margin-bottom: 42px;
	margin-top: auto;
}
.accessories-item-price {
	margin-bottom: 20px;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	color: var(--Black, #070707);
	line-height: normal;
	margin-top: auto;
}
.accessories-item-buy-button {
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	background: var(
		--gradient,
		linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border: 1px solid;
	width: 100%;
	padding: 6px;
	text-align: center;
	border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
		1;
}
.contacts {
	margin-bottom: 103px;
}
.contact-title {
	color: var(--Black, #070707);
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 10px;
}
.contacts-inner {
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.contacts-form {
	flex-basis: 600px;
}
.contacts-text {
	color: var(--grey, #5c5c5e);
	font-size: 13px;
	font-weight: 400;
}

.form {
	margin-bottom: 10px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #cacad6;
}
.form-input {
	border: none;
	padding: 22px 70px 22px 0;
	width: 100%;
	color: #cacad6;
}
.form-input::placeholder {
	color: var(--light-grey, #cacad6);
	font-family: Helvetica;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.input-btn {
	text-transform: uppercase;
	width: 50px;
	height: 50px;
	background-color: #cacad6;
	border-radius: 50%;
	color: #5c5c5e;
	padding: 16px 13px 16px 13px;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	position: absolute;
	right: 0;
	bottom: 5px;
}
.footer {
	margin-bottom: 44px;
	border-top: 1px solid #cacad6;
	border-bottom: 1px solid #cacad6;
	padding: 30px 0;
}
.social-networks {
	display: grid;
	grid-template-columns: repeat(3, 30px);
	gap: 20px;
	justify-self: end;
}

@media (max-width: 1110px) {
	.footer .menu {
		display: none;
	}
	.footer .nav {
		display: flex;
		justify-content: space-between;
	}
}
@media (max-width: 992px) {
	.tabs {
		display: block;
	}
	.tabs-btns {
		display: block;
		column-count: 2;
	}
	.tabs-btn-item {
		display: block;
	}
	.features-titles {
		display: block;
	}
	.games-inner {
		grid-template-columns: repeat(2, 1fr);
		gap: 25px;
	}
	.equipment-box {
		grid-template-columns: repeat(3, 1fr);
	}
	.contacts-inner {
		display: block;
		text-align: center;
	}
	.contacts-form {
		margin-bottom: 20px;
	}
	.menu {
		transform: translateX(-100%);
		transition: transform 1s;
		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		width: 320px;
		background-color: #000;
		color: #fff;
		padding: 100px 0;
		align-items: center;
		flex-direction: column;
	}
	.menu.menu-active {
		transform: translateX(0%);
	}
	.menu-btn {
		display: flex;
	}
	.menu-link {
		font-size: 34px;
		padding: 20px 0;
		display: inline-block;
	}
}
@media (max-width: 768px) {
	.title {
		font-size: 66px;
	}
	.subtitle {
		font-size: 25px;
	}
	.top-text {
		font-size: 9px;
	}
	.accessories-block {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 20px;
	}
	.accessories-text {
		font-size: 23px;
		margin-bottom: 10px;
	}
	.accessories-title {
		margin-bottom: 10px;
	}
}
@media (max-width: 640px) {
	.buy-btn {
		flex-direction: column;
		margin: 0 auto;
	}
	.top {
		text-align: center;
	}
	.tabs-content-item {
		display: block;
		height: 0;
		position: relative;
	}
	.tabs-content-item-active {
		height: 500px;
	}
	.tabs-content {
		margin-top: 10px;
	}
	.tabs-content-img {
		/* margin-bottom: 10px; */
	}
	.video {
		width: auto;
		height: 250px;
	}
	.features-text {
		font-size: 26px;
		margin-bottom: 10px;
	}
	.games-inner {
		grid-template-columns: repeat(1, 1fr);
	}
	.equipment-box {
		grid-template-columns: repeat(1, 1fr);
		text-align: center;
	}
	.equipment-box-img {
		width: 100%;
		object-fit: cover;
	}
	.menu {
		width: 100%;
	}
}

@media (max-width: 430px) {
	.title {
		font-size: 48px;
	}
	.subtitle {
		font-size: 22px;
	}
	.top-text {
		font-size: 8px;
	}
	.tabs-btns {
		column-count: 1;
	}
	.accessories-block {
		grid-template-columns: repeat(1, 1fr);
	}
	.accessories-text {
		font-size: 17px;
	}
	.accessories-title {
		font-size: 13px;
	}
	.nav {
		grid-template-columns: 1fr 2fr 1fr;
	}
	.footer .nav {
		flex-direction: column;
		height: auto;
	}
	.social-networks {
		order: -1;
		margin-bottom: 20px;
		gap: 40px;
	}
}
